.container {
    /* width: 60%; */
    height: 100vh;
    margin-top: 40px;
    margin-left: 300px;
    display: grid;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */

    grid-template-areas:
    "header header"
    "left   right";

    grid-template-columns: 3fr 2fr; /* A coluna da esquerda terá 1/4 e a da direita 3/4 do espaço */
    grid-template-rows: auto 1fr;   /* A linha do header terá altura automática e o resto ocupa o espaço que sobrar */
}

.header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 26px;
    padding: 20px;
}

.header h2 {
    font-weight: normal;
    font-size: 28px;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerLogo img {
    height: 60px;
    width: 60px;
}

.line{
    /* margin-left: 15px; */
    width: 70%;
    height: 5px;
    background-color: var(--green-3);
    align-items: flex-start;
}

.container_left {
    grid-area: left;
}

.container_right {
    grid-area: right;
    padding-left: 40px;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
    gap: 10px;
}

.topic {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topic h4 {
    font-weight: normal;
    font-size: 22px;
}

.information a {
    color: var(--green-3);
    /* text-decoration: none; */
}

.information button{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: 1rem;
    margin: 10px 0;
    width: 30%;
    height: 2rem;
    border-radius: 10px;
    /* background-color: var(--green-3); */
    /* border: 3px solid var(--green-3); */
    /* transition: .3s; */
    border: none;
    background-color: var(--green-3);
    color: black;
}

.information button:hover {
    transition-duration: background-color 0.2s;
    background-color: var(--green-4);
    color: white;
    border: none;
}